html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    color: #fff;
}


.wrapper {
    max-width: calc(1em + 81.2vw);
    margin: 0 auto;
    background: #E4DDCD;
    box-shadow: 15px 0px 16px rgba(0, 0, 0, 0.25), -15px 0px 16px rgba(0, 0, 0, 0.25);
}

.header {
    width: 100%;
    background: url("../images/Mashinka\ 1_change.png") no-repeat;
    background-size: cover;

    .header_inner {
        padding-bottom: calc(1em + 22vw);
        background-color: unset;
        box-shadow: unset;

        .header_logo {
            text-align: center;
            padding-top: calc(1em + 5vw);

            img {
                width: calc(1em + 19.5vw);
            }
        }

        .header_title {
            text-align: center;
            padding-top: calc(1em + 2vw);

            h1 {
                font-size: calc(1em + 1vw);
                line-height: calc(1em + 0.6vw);
                text-align: center;
                font-family: 'Gothic A1', sans-serif;

                span {
                    font-weight: bold;
                }
            }
        }

        .header_text {
            text-align: center;
            padding-top: calc(1em + 2.5vw);

            // padding-bottom: calc(1em + 50vw);
            h2 {
                font-size: calc(1em + 0.6vw);
                font-weight: lighter;
                line-height: calc(1em + 0.2vw);
            }
        }
    }
}

.main {
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;

    .section_1 {
        margin-top: calc(1em + -20vw);

        .section_1_inner {
            .section_1_contant {
                height: calc(1em + 43vw);
                background: url("../images/Mask\ Group.png");
                background-size: contain;
                background-repeat: no-repeat;

                .section_1_contact_block {
                    padding: calc(1em + 2vw) calc(1em + 6vw) 0 calc(1em + 6vw);
                    display: flex;
                    justify-content: space-between;
                }
            }

            .section_1_title_block {
                padding-top: calc(1em + 10vw);

                .section_1_title {
                    text-align: center;

                    h2 {
                        font-size: calc(1em + 1vw);
                        font-weight: lighter;
                        line-height: calc(1em + 0.2vw);
                        font-family: Old Standard TT;
                        font-weight: bold;
                    }
                }

                .section_1_text {
                    padding-top: 11px;
                    max-width: calc(1em + 54vw);
                    text-align: center;
                    margin: 0 auto;

                    p {
                        font-size: calc(1em + 0.6vw);
                        font-weight: lighter;
                        line-height: calc(1em + .5vw);
                    }
                }

                .section_1_btn_block {
                    text-align: center;
                    padding-top: calc(1em + 1.8vw);

                    .section_1_btn {
                        padding: calc(0.7em + .1vw) calc(1em + 1.5vw);
                        background: #C6996F;
                        border-radius: 15px;
                        font-size: calc(1em + 0.6vw);
                        border: none;
                        transition: .2s;
                        color: #fff;
                        cursor: pointer;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            background: #bb936d;
                        }

                        &:active {
                            box-shadow: 0 7px #666;
                            transform: translateY(2px);
                        }
                    }
                }
            }
        }
    }

    .section_2 {
        position: relative;

        .section_2_inner {
            .section_2_phone_div {
                background: #EFEBE2;
                box-shadow: -10px 7px 15px rgba(0, 0, 0, 0.25);
                width: calc(1em + 32vw);
                height: calc(1em + 9vw);
                position: absolute;
                z-index: 9;
                bottom: calc(1em + 2vw);
                left: calc(1em + 16vw);

                p {
                    font-size: calc(0.7em + 1vw);
                    color: #503830;
                    position: absolute;
                    top: 56%;
                    left: 50%;
                    transform: translate(-30%, -50%);
                    width: 65%;
                }
            }

            .section_2_contant {
                display: flex;

                .section_2_img_block {
                    width: calc(0.7em + 37vw);

                    img {
                        width: 100%;
                        position: relative;
                        z-index: 10;
                        opacity: 0.9;
                    }
                }

                .section_2_text_block {
                    padding-top: calc(1em + 3vw);

                    .section_2_title {
                        padding-bottom: calc(1em + 2vw);

                        h3 {
                            font-size: calc(0.4em + 2vw);
                            color: #503830;
                        }
                    }

                    .section_2_text {
                        width: calc(0.7em + 44vw);

                        a {
                            display: block;
                            font-size: calc(0.4em + 1vw);
                            color: #503830;
                            font-weight: bold;
                            text-decoration: none;
                            padding-bottom: calc(0.5em + 0.5vw);
                        }

                        .section_2_images {
                            display: flex;
                            justify-content: center;

                            .img_left_block {
                                width: calc(1em + 14.5vw);
                                height: calc(1em + 21.5vw);
                                margin-right: calc(1em + 2vw);
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .img_right_block {
                                width: calc(1em + 14.5vw);
                                height: calc(1em + 21.5vw);

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section_3 {
        .section_3_inner {
            .portfolio_title {
                text-align: center;
                padding-top: calc(1em + 4.5vw);

                h2 {
                    font-size: calc(0.5em + 1.9vw);
                    font-weight: bold;
                    color: #503830;
                }
            }

            .portfolio_box {
                padding-top: calc(0.5em + 2vw);
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .portfolio_item {
                    position: relative;
                    margin-right: 20px;
                    // margin-right: unset;
                    margin-top: 20px;
                    width: 120px;
                    height: 120px;
                    border: 2px solid #6B5C57;
                    box-sizing: border-box;
                    cursor: pointer;

                    &:first-child {
                        margin-left: 20px;
                    }

                    &:hover {
                        background-color: #D1B59A;
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }

    .section_4 {
        .section_4_inner {
            .section_4_images_boxes {
                padding: 50px 15px 25px 15px;
                display: flex;
                justify-content: center;

                .img_box {
                    margin-right: calc(0.6em + 0.5vw);
                    display: flex;
                    flex-direction: column;
                    width: calc(1em + 22vw);

                    &:last-child {
                        margin-right: unset;
                    }

                    img {
                        width: 100%;
                        margin-bottom: calc(0.2em + 0.5vw);
                    }
                }
            }

            .section_4_hr {
                opacity: 0.3;
                border: 2px solid #6B5C57;
                width: 80%;
                margin: 0 auto;
            }

            .section_4_text {
                padding-top: 8px;
                margin: 0 auto;
                width: calc(1em + 41vw);

                p {
                    text-align: center;
                    font-size: 14px;
                    color: #503830;
                }
            }

            .section_4_btn_block {
                text-align: center;
                padding-top: 10px;
                padding-bottom: 80px;

                .section_4_btn {
                    padding: calc(0.6em + 0.6vw) calc(1em + 0.7vw);
                    background: #C6996F;
                    border-radius: 5px;
                    text-align: center;
                    color: #FFFFFF;
                    font-size: calc(1em + 0.6vw);
                    border: none;
                    transition: .2s;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        background: #bb936d;
                    }

                    &:active {
                        box-shadow: 0 7px #666;
                        transform: translateY(2px);
                    }
                }
            }
        }
    }
}

.article {
    .section_5 {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/ремонт\ 3\ 1.png");
        background-position: center;

        .section_5_inner {
            padding: 60px;

            .section_5_contant {
                width: calc(1em + 43.2vw);
                height: calc(1em + 36vw);
                border: 3px solid #C6996F;
                box-sizing: border-box;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 0%);
                padding: calc(0.1em + 0.6vw);
            }

            .section_5_contant_two {
                width: 100%;
                height: 100%;
                border: 3px solid #C6996F;
                text-align: center;

                .section_5_img {
                    padding-top: calc(0.5em + 1vw);
                    width: calc(1em + 2.1vw);
                    margin: 0 auto;

                    img {
                        width: 100%;
                    }
                }

                .section_5_text {
                    width: calc(1em + 24.3vw);
                    margin: 0 auto;
                    padding-top: calc(1em + 0.6vw);

                    p {
                        font-size: calc(0.4em + 1vw);
                        line-height: calc(0.6em + 1vw);
                    }
                }

                .section_5_text_down {
                    padding-top: calc(0.5em + 1vw);
                    width: calc(1em + 29.2vw);
                    margin: 0 auto;

                    p {
                        font-size: calc(0.4em + 1vw);
                        line-height: calc(0.6em + 1vw);
                    }
                }

                .section_5_btn_block {
                    padding-top: calc(1em + 2vw);

                    .section_5_btn {
                        padding: calc(0.6em + 0.6vw) calc(1em + 0.7vw);
                        background: #C6996F;
                        border-radius: 5px;
                        text-align: center;
                        color: #FFFFFF;
                        font-size: calc(1em + 0.3vw);
                        border: none;
                        transition: .2s;
                        cursor: pointer;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            background: #bb936d;
                        }

                        &:active {
                            box-shadow: 0 7px #666;
                            transform: translateY(2px);
                        }
                    }
                }
            }
        }
    }
}

.article_two {
    .article_two_inner {
        .article_two_title {
            width: calc(1em + 42vw);
            margin: 0 auto;
            padding-top: calc(1em + 4.5vw);
            text-align: center;
            color: #503830;

            h3 {
                font-size: calc(1em + 1vw);
                padding-bottom: calc(1em + 0.6vw);
                font-weight: bold;
            }

            p {
                font-size: calc(0.4em + 1vw);
                padding-bottom: calc(1em + 0.8vw);
            }
        }
    }
}

.footer {
    background-color: #E4DDCD;

    .footer_inner {
        box-shadow: unset;

        .footer_block {
            font-size: calc(0.4em + 1vw);
            padding: 40px 0;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #503830;

            .footer_item {
                .footer_soc {
                    margin: 10px 0;
                    display: flex;
                    .soc_block {
                        margin-right: calc(1em + 1vw);
                        width: calc(1em + 3vw);
                        &:last-child{margin-right: unset;}
                        img {
                            width: 100%;
                        }
                    }
                }
                img {
                    cursor: pointer;

                    &:hover {
                        opacity: .8;
                    }
                }
            }

            .footer_item_tree {
                width: 300px;
                line-height: calc(0.6em + 1vw);
            }
        }
    }
}





@media only screen and (max-width:1100px) {
    .article {
        .section_5 {
            .section_5_inner {
                .section_5_contant_two {
                    .section_5_text {
                        padding-top: calc(0.5em + 0.2vw);
                    }

                    .section_5_btn_block {
                        padding-top: calc(0.5em + 1vw);

                        .section_5_btn {
                            padding: calc(0.3em + 0.6vw) calc(1em + 0.1vw);
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width :1024px) {
    .header {
        .header_inner {
            .header_text {
                h2 {
                    line-height: calc(0.8em + .5vw);
                    font-size: calc(1em + 0.2vw);
                }
            }

            .header_title {
                h1 {
                    font-size: calc(1em + 0.4vw);
                }
            }
        }
    }

    .main {
        .section_1 {
            .section_1_inner {
                .section_1_title_block {
                    padding-top: calc(1em + 6vw);

                    .section_1_text {
                        p {
                            line-height: calc(0.8em + .5vw);
                            font-size: calc(1em + 0.2vw);
                        }
                    }

                    .section_1_btn_block {
                        .section_1_btn {
                            padding: calc(0.5em + .1vw) calc(1em + 1vw);
                            font-size: calc(1em + 0.2vw);
                        }
                    }

                    .section_1_title {
                        h2 {
                            font-size: calc(1em + 0.4vw);
                        }
                    }
                }
            }
        }

        .section_2 {
            .section_2_inner {
                .section_2_contant {
                    .section_2_img_block {
                        img {
                            height: 80%;
                        }
                    }
                }

                .section_2_phone_div {
                    left: unset;
                    bottom: 23px;

                    p {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        padding: 10px;
                        text-align: center;
                    }
                }
            }
        }
    }

}


@media only screen and (max-width : 924px) {
    .article {
        .section_5 {
            .section_5_inner {
                .section_5_contant_two {
                    .section_5_img {
                        display: none;
                    }

                    .section_5_btn_block {
                        padding: calc(0.3em + 0.5vw) calc(0.5em + 0.1vw);

                        .section_5_btn {
                            font-size: calc(1em + 0.1vw);
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (max-width :520px) {
    .main {
        .section_3 {
            .section_3_inner {
                .portfolio_box {
                    .portfolio_item {
                        &:nth-child(3) {
                            margin-left: 20px;
                        }

                        &:last-child {
                            margin-right: unset;
                        }
                    }
                }
            }
        }
    }
}






@media only screen and (max-width :650px) {
    .header {
        .header_inner {
            .header_text {
                h2 {
                    line-height: calc(0.8em + .2vw);
                    font-size: calc(0.9em + 0.1vw);
                }
            }

            .header_title {
                h1 {
                    font-size: calc(1em + 0.1vw);
                }
            }
        }
    }

    .main {
        .section_1 {
            .section_1_inner {
                .section_1_title_block {
                    padding-top: calc(2em + 1vw);

                    .section_1_text {
                        p {
                            line-height: calc(0.8em + .2vw);
                            font-size: calc(0.9em + 0.1vw);
                        }
                    }

                    .section_1_btn_block {
                        .section_1_btn {
                            padding: calc(0.4em + .1vw) calc(1em + 0.2vw);
                            font-size: calc(1em + 0.2vw);
                        }
                    }

                    .section_1_title {
                        h2 {
                            font-size: calc(1em + 0.1vw);
                        }
                    }
                }

                .section_1_contant {
                    .section_1_contact_block {
                        padding: calc(0.1em + 0.1vw) calc(1em + 1vw) 0 calc(1em + 1vw);

                        .section_1_address {
                            p {
                                font-size: 13px;
                            }

                            span {
                                display: none;
                            }
                        }

                        .section_1_phone {
                            p {
                                font-size: 13px;
                                text-align: right;
                            }

                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .section_4 {
            .section_4_inner {
                .section_4_text {
                    width: calc(1em + 57vw);

                    p {
                        font-size: 13px;
                    }
                }

                .section_4_btn_block {
                    .section_4_btn {
                        font-size: calc(0.8em + 0.1vw);
                    }
                }
            }
        }
    }

    .article {
        .section_5 {
            .section_5_inner {
                .section_5_contant_two {
                    .section_5_img {
                        display: block;
                        padding-top: calc(0.1em + 1vw);
                    }

                    .section_5_text {
                        display: none;
                    }

                    .section_5_btn_block {
                        .section_5_btn {
                            font-size: calc(0.8em + 0.1vw);
                        }
                    }
                }
            }
        }
    }

    .article_two {
        .article_two_inner {
            .article_two_title {
                h3 {
                    font-size: calc(0.5em + 1.9vw);
                }
            }
        }
    }
}



@media only screen and (max-width :550px) {
    .header {
        .header_inner {
            .header_text {
                h2 {
                    line-height: calc(0.8em + .2vw);
                    font-size: calc(0.8em + 0.1vw);

                    br {
                        display: none;
                    }
                }
            }

            .header_title {
                h1 {
                    font-size: calc(1em + 0.1vw);

                    br {
                        display: none;
                    }
                }
            }
        }
    }

    .main {
        .section_1 {
            .section_1_inner {
                .section_1_title_block {
                    // padding-top:calc(0.5em + 0.5vw);

                    .section_1_text {
                        p {
                            line-height: calc(0.8em + .2vw);
                            font-size: calc(0.8em + 0.1vw);

                            span {
                                display: none;
                            }
                        }
                    }

                    .section_1_btn_block {
                        padding: calc(0.5em + 0.1vw);

                        .section_1_btn {
                            padding: calc(0.4em + .1vw) calc(1em + 0.2vw);
                            font-size: calc(0.8em + 0.2vw);
                        }
                    }

                    .section_1_title {
                        h2 {
                            font-size: calc(1em + 0.1vw);
                        }
                    }
                }
            }
        }
    }
}






@media only screen and (max-width :470px) {
    .main {
        .section_2 {
            .section_2_inner {
                .section_2_phone_div {
                    p {
                        font-size: calc(0.5em + 1vw);
                    }
                }

                .section_2_contant {
                    .section_2_img_block {
                        img {
                            height: 60%;
                        }
                    }
                }
            }
        }
    }

    .article {
        .section_5 {
            .section_5_inner {
                .section_5_contant_two {
                    .section_5_text {
                        display: block;
                        width: calc(1em + 31.3vw);
                    }

                    .section_5_text_down {
                        display: none;
                    }

                    .section_5_btn_block {
                        .section_5_btn {
                            padding: calc(0.1em + 0.2vw) calc(0.4em + 0.1vw);
                        }
                    }
                }
            }
        }
    }

    .footer {
        .footer_inner {
            .footer_block {
                justify-content: center;
                flex-direction: column;
                .footer_item_tree {
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width :400px) {
    .main {
        .section_1 {
            .section_1_inner {
                .section_1_contant {
                    .section_1_contact_block {
                        flex-direction: column;
                        .section_1_address {
                            p {
                                font-size: 12px;
                                line-height: 0.8;
                            }
                        }
                        .section_1_phone {
                            padding-bottom: 8px;
                            p {
                                font-size: 12px;
                                text-align: unset;
                                line-height: 0.5;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (max-width :375px) {
    .main {
        .section_1 {
            .section_1_inner {
                .section_1_title_block {
                    padding-top: calc(1em + 1vw);
                }
            }
        }
    }

    .article {
        .section_5 {
            .section_5_inner {
                .section_5_contant_two {
                    .section_5_img {
                        display: none;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width :348px) {
    .main {
        .section_3 {
            .section_3_inner {
                .portfolio_box {
                    flex-direction: column;
                    align-items: center;

                    .portfolio_item {
                        margin-right: unset;
                        margin-left: unset;

                        &:first-child {
                            margin-left: unset;
                        }

                        &:nth-child(3) {
                            margin-left: unset;
                        }
                    }
                }
            }
        }
        .section_1 {
            .section_1_inner {
                .section_1_title_block {
                    padding-top:unset;
                }
            }
        }
    }
}
  































// #map {
//     width: 100%;
//     height: 400px;
//     background-color: grey;
//   } 